nlp/Chapter05/data/
nlp/Chapter08/data/
nlp/Chapter10/data/
nlp/README.md
nlp/embedding/AUC Curves.png
nlp/embedding/_DS_Store
rl/Chapter01/logs/
rl/Chapter01/saves/
"rl/Chapter03/Icon\r"
rl/Chapter03/MUJOCO_LOG.TXT
"rl/Chapter03/demo/Icon\r"
"rl/Chapter03/distribution/Icon\r"
rl/Chapter03/log/
"rl/Chapter03/policy/Icon\r"
"rl/Chapter03/value/Icon\r"
"rl/Chapter04/Icon\r"
rl/Chapter04/log/
rl/alpha_go/commands.txt
rl/chatbot/model/
rl/chatbot/old/model/Reversed/checkpoint
rl/chatbot/old/model/model-56-3000/checkpoint
rl/chatbot/old/results/sample_input.txt
rl/chatbot/old/results/sample_output_RL.txt
rl/chatbot/results/
rl/mine_craft/doom/_vizdoom.ini
rl/mine_craft/doom/scenarios/basic.cfg
rl/mine_craft/doom/scenarios/basic.wad
rl/mine_craft/doom/scenarios/cig.cfg
rl/mine_craft/doom/scenarios/cig.wad
rl/mine_craft/doom/scenarios/cig_with_unknown.wad
rl/mine_craft/doom/scenarios/deadly_corridor.cfg
rl/mine_craft/doom/scenarios/deadly_corridor.wad
rl/mine_craft/doom/scenarios/deathmatch.cfg
rl/mine_craft/doom/scenarios/deathmatch.wad
rl/mine_craft/doom/scenarios/defend_the_center.cfg
rl/mine_craft/doom/scenarios/defend_the_center.wad
rl/mine_craft/doom/scenarios/defend_the_line.cfg
rl/mine_craft/doom/scenarios/defend_the_line.wad
rl/mine_craft/doom/scenarios/health_gathering.cfg
rl/mine_craft/doom/scenarios/health_gathering.wad
rl/mine_craft/doom/scenarios/health_gathering_supreme.wad
rl/mine_craft/doom/scenarios/learning.cfg
rl/mine_craft/doom/scenarios/multi.cfg
rl/mine_craft/doom/scenarios/multi_deathmatch.wad
rl/mine_craft/doom/scenarios/multi_duel.cfg
rl/mine_craft/doom/scenarios/multi_duel.wad
rl/mine_craft/doom/scenarios/my_way_home.cfg
rl/mine_craft/doom/scenarios/my_way_home.wad
rl/mine_craft/doom/scenarios/predict_position.cfg
rl/mine_craft/doom/scenarios/predict_position.wad
rl/mine_craft/doom/scenarios/rocket_basic.cfg
rl/mine_craft/doom/scenarios/rocket_basic.wad
rl/mine_craft/doom/scenarios/simpler_basic.cfg
rl/mine_craft/doom/scenarios/simpler_basic.wad
rl/mine_craft/doom/scenarios/take_cover.cfg
rl/mine_craft/doom/scenarios/take_cover.wad
rl/mine_craft/helper/tmux
rl/mine_craft/save/breakout/train/log_0/events.out.tfevents.1532007719.ywz-PC
rl/mine_craft/save/breakout/train/log_1/events.out.tfevents.1532007719.ywz-PC
rl/mine_craft/save/demo/train/checkpoint
rl/mine_craft/save/demo/train/log_0/events.out.tfevents.1532007504.ywz-PC
rl/mine_craft/save/demo/train/log_1/events.out.tfevents.1532007504.ywz-PC
rl/mine_craft/save/minecraftbasic-v0/train/log_0/events.out.tfevents.1532007895.ywz-PC



*.pickle
*.csv
*.DS_Store
.idea*
*.zip
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
